/* Figma Styles of your File */
:root {
  /* Colors */
  --div: #fecd27;
  --div: #f8ac13;

  /* Fonts */
  --div-font-family: Inter-Medium, sans-serif;
  --div-font-size: 13px;
  --div-line-height: 18px;
  --div-font-weight: 500;
  --div-font-style: normal;

  /* Effects */
}
